 <ion-view view-title="Movies">
  <td-cards>
    <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
      <div class="image">
        <div class="no-text">NOPE</div>
        <img ng-src="{{card.image}}">
        <div class="yes-text">LIKE</div>
      </div>
      <ion-footer-bar>
        <h3>{{card.info.data.Title}}</h3>
      </ion-footer-bar>
    </td-card>
  </td-cards>
</ion-view>
