<ion-view view-title="Friends">
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" ng-model="searchText" type="search" placeholder="Search">
        </label>
        <button ng-click="searchText = ''" class="button button-clear">
          Cancel
        </button>
      </div>

      <a ng-repeat="friend in friends | filter: {name: searchText}" class="item item-avatar" ng-click="toFriendPage($index)">
        <img ng-src="{{friend.profileImageURL}}">
        <h2 data-ng-bind="friend.name"></h2>
      </a>

    </ion-list>
  </ion-content>
</ion-view>