<ion-view view-title="Movies">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/movies/lists">
        <!-- <img ng-src="{{list.face}}"> -->
        <h2>Lists</h2>
        <p>From top 100's to best comedies, how many have you seen?</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/movies/myMovies">
        <!-- <img ng-src="{{list.face}}"> -->
        <h2>My Movies</h2>
        <p>See your ratings and movies you want to see</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
