<ion-view view-title="Friend">
  <ion-content overflow-scroll="true" scroll-glue>
    <h1 data-ng-bind="currentFriend.name"></h1>

    <ion-list>
      <a ng-repeat="chat in chats" class="item item-avatar">
        <img ng-src="{{getImgURL($index)}}">
        <p data-ng-bind="chat.message"></p>
      </a>
      <div id="bottom"></div>
    </ion-list>

  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-assertive">
    <div class="bar bar-footer bar-balanced item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-chatbubble placeholder-icon"></i>
        <input ng-focus="scrollDown()" id="messageInput" ng-model="messageText" type="text" placeholder="Message text ...">
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
